@using Dotdev.Core.HexPath

<div class="hexPath">
	@foreach (var hex in @hexSet.Values)
	{
        <Hex Hx="hex" />
	}
</div>

@code {
	private Dictionary<(int, int), HexItem?> hexSet = new();

	protected override async Task OnInitializedAsync()
	{
		uint[] Empty = Array.Empty<uint>();
		hexSet.Add((5,5), new HexItem(1, 5,5,"#A1AEFF", "hexOne", "./hex_placeholder.png", true, Empty));
	}
}
